.user-info {
    flex: 1;
    background-color: var(--card-background);
    border-radius: 10px;
    padding: 20px;
    box-shadow: var(--shadow);
}

.main-content-profile {
    display: flex;
    gap: 0;
}

.title-section {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 15px;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 5px;
}

.user-info-item {
    margin-bottom: 10px;
}

.user-info-item strong {
    font-weight: 600;
    margin-right: 5px;
}