.payement-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}


.title-form-payment {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--primary);
}

.order-summary-title {
    font-weight: 600;
}

.checkout-form {
    background-color: var(--white);
    border-radius: 15px;
    padding: 2rem;
}

.payement-form-group {
    margin-bottom: 1.5rem;
}

.card-details {
    display: flex;
    gap: 1rem;
}

.card-number {
    flex: 2;
}

.card-expiry,
.card-cvc {
    flex: 1;
}

.submit-btn {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.submit-btn:hover {
    background-color: #09103a;
}

.order-summary {
    background-color: var(--white);
    border-radius: 15px;
    padding: 1.5rem;
    margin-top: 2rem;
}

.order-summary h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--secondary);
}

.order-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.total {
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
    .payement-container {
        padding: 1rem;
    }

    .card-details {
        flex-direction: column;
    }
}

.suscribe-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.bubble {
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    animation: float 20s infinite ease-in-out;
}

@keyframes float {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, -10px);
    }
}